.main{
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #F2CA52;
    color: #F2CA52;
    font-weight: bold;
    transition: all 0.3s;
}

.main:hover{
    background-color: #F2CA51;
    color: #fff;
}